@import '/src/variables.scss';

.messages {
  &__header {
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    padding: 1rem;
    animation: fade ease .5s forwards;

    &__title {
      color: $purple;
      font-size: 1rem;
      width: min-content;
    }
  }

  &__body {
    &__transaction {
      display: grid;
      grid-template-columns: repeat(8, 1fr);

      padding: 1rem;
    }
  }

  &--hide-token {
    .messages__header {
      grid-template-columns: repeat(7, 1fr);
    }

    .messages__body__transaction {
      grid-template-columns: repeat(7, 1fr);
    }
  }
}