<div class="messages">
    <div class="messages__header">
        <div class="messages__header__title">SharedID</div>
        <div class="messages__header__title">Timestamp</div>
        <div class="messages__header__title">Source Chain</div>
        <div class="messages__header__title">Source Address</div>
        <div class="messages__header__title">Destination Chain</div>
        <div class="messages__header__title">Destination Address</div>
        <div class="messages__header__title">Amount</div>
        <div class="messages__header__title">Token</div>
    </div>
    <div class="messages__body">
        <ng-container *ngIf="transactions && transactions.length > 0 && !isLoading">
            <app-dvp-swap-transaction-preview *ngFor="let txn of transactions; let i = index" [transaction]="txn"
                [index]="i" (click)="goToMessageDetails(txn)"></app-dvp-swap-transaction-preview>
        </ng-container>
        <ng-container *ngIf="isLoading || (!transactions || transactions.length === 0)">
            <div *ngFor="let _ of [].constructor(2); index as i" class="messages__body__transaction">
                <div *ngFor="let _ of [].constructor(8); index as j" [style.width]="getRandomWidth(i, j)"
                    class="messages__body__transaction__value">
                    <app-skeleton-loading></app-skeleton-loading>
                </div>
            </div>
        </ng-container>
    </div>
</div>