<app-page class="page">
  <nz-breadcrumb class="page__breadcrumb">
    <nz-breadcrumb-item>
      <a routerLink="/">Main</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Enygma Details</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div class="page__header">
    <h1 class="page__header__text">Enygma Details</h1>
  </div>
  <div class="page__body">
    <app-enygma-transactions-preview 
      [enygmaTransactions]="transactionsList"
      [isLoading]="isLoading"
    ></app-enygma-transactions-preview>
    <div class="pagination" *ngIf="totalPages > 1">
      <div
        class="pagination__page"
        [ngClass]="{ 'pagination__page--active': currentPage === 1 }"
        (click)="goToPage(1)"
      >1</div>
      <div class="pagination__divisor">...</div>
      <div
        class="pagination__page"
        [ngClass]="{ 'pagination__page--active': currentPage === page }"
        *ngFor="let page of getPages()"
        (click)="goToPage(page)"
      >
        {{ page }}
      </div>
      <div class="pagination__divisor">...</div>
      <div
        class="pagination__page"
        [ngClass]="{ 'pagination__page--active': currentPage === totalPages }"
        (click)="goToPage(totalPages)"
      >
        {{ totalPages }}
      </div>
    </div>
  </div>
</app-page>
