@import '/src/variables.scss';

.page {
  &__header {
    margin: 32px auto 0 64px;

    &__text {
      color: $lightwhite;
      font-size: 44px;
      font-weight: bold;
      font-family: 'Rethink Sans';
      padding-bottom: 4px;
    }
  }

  &__breadcrumb {
    align-self: flex-start;
    margin-left: 64px;
  }

  &__body {
    margin: 1rem 4rem;
    width: calc(100% - 8rem);
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;

  &__page {
    color: $lightwhite;
    border: 1px solid $darkgray;
    padding: 0.5rem;
    text-align: center;

    &:hover {
      background: $darkgray;
      border: 1px solid $mediumgray;
      cursor: pointer;
    }

    &--active {
      background: $darkgray;
      border: 1px solid $mediumgray;
      cursor: pointer;

      &:hover {
        background: $mediumgray;
        border: 1px solid $lightgray;
        cursor: pointer;
      }
    }
  }

  &__divisor {
    color: $lightgray;
  }
}